font {
  font-family:sans-serif;
  text-color: brown;
  font-size: 50px;
}

body {
  justify-content:center;
  content-align:center;
  text-align: center;
  align-items: center;
}
figure-figcaption {
text-align: center;
}

figure-img {
vertical-align: top;
}
