/*
Description:  theme for Classes
Author:       J Neathawk
Author URI:   https://knighthawk0811.github.io
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/



/*--------------------------------------------------------------
selector {
	layout(position)
	
	content(text)
	
	design(background)
	
	other(z-index)
}
----------------------------------------------------------------
>>> COLORS:	  
----------------------------------------------------------------
:root {
  --color-variable: #ffffff;
}


----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Universal
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries

--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
html * {
    box-sizing: border-box;
}



body {
	font-family: Arial, sans-serif
	margin: 0;
}





nav ul {
	list-style-type: star;
}

nav a:visited {
	color: purple;
}

nav a:link {
	color: blue;
}

nav a:active {
	color: brown;
}

nav a:hover {
	color: red;
}

nav ul li::marker {
	color: pink;
}






header {
	background-color: black;
	color: black;
	padding: 20px;
	text-align: center;
}






main {
	float: left;
	width: calc(70%-1px);
	padding: 1rem;
	border-right: 1px grey;
}
aside {
	width: 30%
	float: right;
}





footer {
	text-align: center;
	padding: 10px
	color: grey;
	background-color: black;
}



/*--------------------------------------------------------------
# Reusable Classes
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media Queries
------------------------------------------------------
